*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'sans-serif', Tahoma, Geneva, Verdana, Segoe UI;
    
}

/* Write CSS code below */

.main-content {
   
    display: grid;
    max-height: 100vh;
    min-height: 1000px;
    grid-template-columns: 300px auto;
}

.left-section {
    background-color: black;
    color: aliceblue;
    
  /*  grid-column-start: 1;
    grid-column-end: 2;  */
}

.right-section {
    background-color: whitesmoke;
    width: 100%;
    
    
 /*   grid-column-start: 2;
    grid-column-end: 3;  */
}

.left-content {
    padding: 1rem;
}



.profile-image img {
    display: block;
    margin: auto;
    border: 5px white solid;
    border-radius: 30%;
    width: 30%;
}

.name {
    font-size: 1.2rem;
    font-weight:700;
    text-align: center;
    padding: 0.8rem;
    text-transform: uppercase;
    word-spacing:0.02px;
    letter-spacing: 0.02px;
}

.designation {
   
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom:0.5rem;
    color: skyblue;

}

.description {

    font-size: 0.80rem;
    text-align: center;
    padding: 1rem;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;


}

.icon a img {
    
    border-radius: 10px;
    width: 30px;
    height: 30px;
    align-content: center;
}

.contact-item {
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.contact span i {
    width: 10px;
    text-align: center;
}

.skills {

    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: aquamarine;
    color: black;
    margin: 10px;
    border: 3px solid white;
    border-radius: 30px;

}

.skill-name {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    gap: 10px;
    
}

.skills-section  {
    
    border: white solid 2px;
    padding: 10px;
    border-radius: 10px;
    height: 250px;
    
}

.progress-bar {
border: 1px white solid;
height: 4px;
background-color: white;
}

.bar-1 {
    width: 90%;
}

.bar-2 {
    width: 75%;
}

.bar-3 {
    width: 60%;
}

/*  Write code for the right section here */

.right-main-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    
}

article {
    padding: 1rem 2rem;
}

.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 00.5rem;
    
    letter-spacing: 1px;
    background-color:rgba(175, 180, 178, 0.101);
    text-align: left;
    border-radius: 5px;
    
    
}

/* Make the Resume Responsive using Media queries */

@media (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1 , 1fr);
        width: 100%;
        min-height: 1000px;
    } 

    .right-title {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.537);
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .left-content {
        background-color: black ;
        
    }

    .right-section {
        background-color: black ;
        color: white;
    }

    .skills {
        background-color:rgba(255, 255, 255, 0.537) ;
    }

    .contact {
        background-color: rgba(255, 255, 255, 0.537);
        padding: 5px;
        font-size: 20px;
        border-radius: 5px;
    }
}

@media (min-width: 914px) {
    .main-content {
       
        background-color :whitesmoke;
    }

    
}




